name: Build and Push to ECR

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    tags:
      - 'v*.*.*'
      
permissions:
  contents: read
  id-token: write    

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Depot
      uses: depot/setup-action@v1

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: ${{ vars.AWS_CUSTOMERS_ECR_REPOS_REGION }}
        role-to-assume: arn:aws:iam::${{ vars.AWS_CUSTOMERS_ECR_REPOS_ACCOUNT_ID }}:role/${{ vars.AWS_CUSTOMERS_ECR_REPOS_OIDC_ROLE_NAME }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      uses: depot/build-push-action@v1
      with:
        project: ${{ vars.DEPOT_PROJECT_ID }}
        context: .
        tags: ${{ steps.login-ecr.outputs.registry }}/formalco-prod-metabase-sync-worker:${{ github.ref_name }}, ${{ steps.login-ecr.outputs.registry }}/formalco-prod-metabase-sync-worker:latest
        platforms: linux/amd64, linux/arm64
        push: true