name: Build and Push to ECR

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*.*.*'

permissions:
  contents: read
  id-token: write    

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: ${{ vars.AWS_CUSTOMERS_ECR_REPOS_REGION }}
        role-to-assume: arn:aws:iam::${{ vars.AWS_CUSTOMERS_ECR_REPOS_ACCOUNT_ID }}:role/${{ vars.AWS_CUSTOMERS_ECR_REPOS_OIDC_ROLE_NAME }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: formalco-prod-metabase-sync-worker
        IMAGE_TAG: ${{ github.ref_name }}
      run: |
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --push \
          -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG \
          -t $ECR_REGISTRY/$ECR_REPOSITORY:latest \
          .
